# Copy this file to android/keystore.properties and fill in your values.
# Keep keystore.properties private (do not commit it).
storeFile=../my-release-key.jks
storePassword=BToRH5Nz
keyAlias=caloriecounter
keyPassword=BToRH5Nz

